/* Body of the content */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-size: 1em;
}

:root {
    --primary-color: #2C2B64;
    --secondary-color: #F2CB13;
    --tooltip-bg: #3F3F3F;
    --font-family: 'Arial, sans-serif';
}

body, html {
    width: 100%;
    font-family: var(--font-family);
    overflow-x: hidden;
}

p {
    padding: 20px;
}

h1, h2 {
    background-color: var(--primary-color);
    color: #fff;
    font-family: Georgia, serif;
    text-align: center;

}

h1 {
    font-size: 3em;
	padding: 15px;
}

h2 {
    font-size: 2em;
	padding: 10px;
}

h3 {
    font-size: 1px;
    padding: 5px;
    color: var(--primary-color);
    text-align: center;
}

h4 {
    color: #fff;
    font-size: 1.2em;
	font-family: 'EB Garamond';
    text-align: center;
    margin: 10px;
}

ul {
    margin-left: 3rem;
    margin-bottom: 5px;
}

a {
    color: #4DAFDE;
}

hr.rounded {
    border-top: 3px solid var(--primary-color);
    border-radius: 10px;
    margin: 25px;
}

hr.flat {
    border-top: 0.2px solid white;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 100px 0px 50px;
}

/* Define tooltip class */
.tooltip {    
    position: absolute;
    display: flex;
    cursor: pointer;
    z-index: 3;
    
}

.tooltip .tooltiptext{
    visibility: hidden;
    min-width: 8em;
    width: auto;
    background-color: var(--tooltip-bg);
    color: #fff;
	font-family: 'EB Garamond';
    font-size: 1em;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    left: 0;
    transition: opacity 0.3s;
    z-index: 2;
}

/* Enable tooltip visibility */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.circle {
    min-width: 20px;
    min-height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 0.75em;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background: #000;
    opacity: 0.4;
}

.circle:hover {
    opacity: 1;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #3781EC;
    opacity: 0.3;
}

.triangle-bottom:hover {
    opacity: 1;
}

.image-container {
    position: relative;
    display: flex;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    pointer-events: none;
}

.imageOne {
    /*width: 100%;*/
    z-index: 0;
}

.imageTwo, .imageThree {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s; /* Transition added for smooth change */
}

.bBtn, .yBtn {
    border: 0;
    line-height: 2.5;
    padding: 0 .5em;
    font-size: 1em;
    text-align: center;
    margin: 1em;
    color: #fff;
    border-radius: 5px;
    background-color: #3F3F3F;
    opacity: 0.6;
    transition: opacity 0.3s, background-color 0.3s;
}

.bBtn:hover, .yBtn:hover {
    opacity: 1;
}

.bBtn:hover {
    background-color: var(--primary-color);
}

.yBtn:hover {
    background-color: var(--secondary-color);
}

.bBtn.active {
    opacity: 0.9;
    background-color: var(--primary-color);
}

.yBtn.active {
    opacity: 0.9;
    background-color: var(--secondary-color);
}

progress[value] {
    appearance: none;
    border: none;
    width: 500px;
    height: 15px;
    background-color: whiteSmoke;
    border-radius: 2px;
    color: red;
    position: relative;
    /*margin: 0 0 1.5em;*/
}

progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background-color: var(--progress-bar-color);
  border-radius:2px;  
}

progress[value]::-webkit-progress-value:after {
  content: '';
  position: absolute;
  width:5px; height:5px;
  top:7px; right:7px;
  background-color: white;
  border-radius: 100%;
}

@keyframes zoomIn1 {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes zoomIn2 {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(5deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.2) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes zoomIn3 {
  0% {
    transform: scale(1) rotate(0deg);
  }
  16% {
    transform: scale(1.5) rotate(5deg);
  }
  32% {
    transform: scale(1) rotate(0deg);
  }
  48% {
    transform: scale(1.5) rotate(-5deg);
  }
  64% {
    transform: scale(1) rotate(0deg);
  }
  80% {
    transform: scale(1.5) rotate(5deg);
  }
  
  100% {
	transform: scale(1) rotate(0deg);
  }
}

.zoom-effect-1 {
  animation: zoomIn1 0.5s forwards;
}

.zoom-effect-2 {
  animation: zoomIn2 1s forwards;
}

.zoom-effect-3 {
  animation: zoomIn3 1.5s forwards;
}