/* Body of the content */
body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
}

h1, h2 {
	background-color: #2C2B64;
	color: #fff;
	font-family: Georgia, serif;
	text-align: center;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h4 {
	color: #fff;
	font-size: 1em;
	text-align: center;
}

p {
	padding: 5px 10px;
}

ul {
	margin-bottom: 5px;
}

a {
	color: #4DAFDE;
}

hr.rounded {
	border-top: 3px solid #2C2B64;
	border-radius: 10px;
	margin: 25px;
}

/* Define tooltip class */
.tooltip {
	position: absolute;
	display: inline-block;
	cursor: pointer;
	z-index: 3;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: auto;
	background-color: #3781EC;
	color: #fff;
	font-size: 0.8em;
	text-align: center;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	bottom: 125%; /* Position the tooltip above the text */
	left: 50%;
	margin-left: 0;
	transition: opacity 0.3s;
	z-index: 1;
}

/* Enable tooltip visibility */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 0.9;
}

.circle {
	min-width: 20px;
	min-height: 20px;
	aspect-ratio: 1;
	border-radius: 50%;
	font-size: 15px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	background: #000;
	opacity: 0.3;
}

.circle:hover {
	opacity: 1;
}

.triangle-bottom {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #3781EC;
	opacity: 0.3;
}

.triangle-bottom:hover {
	opacity: 1;
}

.image-container {
	position: relative;
	display: flex;
}

.image-container img {
	display: block;
	width: 100%;
	height: auto;
	pointer-events: none;
}

.imageOne {
	width: 100%;
	z-index: 0;
}

.imageTwo, .imageThree {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.2s; /* Transition added for smooth change */
}

.overlay-text {
	position: absolute;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	background-color: #000; 
	color: #fff; 
	padding: 10px 20px; 
	font-size: 20px; 
	text-align: center;
}

.bBtn, .yBtn {
	border: 0;
	line-height: 2.5;
	padding: 0 10px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	background-color: #3F3F3F;
	opacity: 0.6;
}

.bBtn:hover, .yBtn:hover {
	opacity: 1;
}

.bBtn:hover {
	background-color: #2C2B64;
}

.yBtn:hover {
	background-color: #F2CB13;
}

.bBtn.active {
	opacity: 0.9;
	background-color: #2C2B64;
}

.yBtn.active {
	opacity: 0.9;
	background-color: #F2CB13;
}
